doctype html
html
  head
    title Registro - Fotaza 2
    link(rel="stylesheet", href="/css/style.css")
  body
    .auth-wrapper
      .auth-avatar
        .auth-avatar-icon
      
      .auth-container
        h1 Registro
        form(action="/register" method="POST")
          .form-group
            .input-icon.icon-user
            input.minimal-input(type="text" name="username" required placeholder="Nombre de usuario")
          .form-group
            .input-icon.icon-email
            input.minimal-input(type="email" name="email" required placeholder="Email ID")
          .form-group
            .input-icon.icon-pass
            input.minimal-input(type="password" name="password" required placeholder="Password")
          button.btn-boca(type="submit") Registrarse
          
    .auth-outside-footer
      p ¿Ya tenés cuenta? 
        a(href="/login") Iniciá sesión acá